* {
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin: 0px;
    padding: 0px;
    color: #191919;
}

.bold_40 {
    font-size: 40px;
    font-weight: bold;
    color: #191919;
}

.black_40 {
    font-size: 40px;
    font-weight: 900;
    color: #fff;
}

.bold_40_purple {
    font-size: 40px;
    font-weight: bold;
    color: #8D69D5;
}

.regular_30 {
    font-size: 30px;
    color: #fff;
}

.bold_28 {
    font-size: 28px;
    font-weight: bold;
    color: #191919;
}

.bold_22 {
    font-size: 22px;
    font-weight: bold;
    color: #191919;
}

.regular_22 {
    font-size: 22px;
    color: #767676;
}

.regular_15 {
    font-size: 15px;
    color: #767676;
}

.color_purple {
    color: #8D69D5;
}

.color_black {
    color: #191919;
}

.color_white {
    color: #fff;
}

.read_more {
    font-size: 15px;
    text-decoration: underline;
    color: #191919;
    cursor: pointer;
}

/* navigation */

.nav {
    position: sticky;
    top: 0;
    z-index: 2;
    line-height: 100px;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.nav > div {
    display: flex;
    width: 1280px;
    margin: auto;
}

.nav > div > .brand_name {
    font-size: 28px;
    font-weight: 900;
    width: 232px;
}

.menu {
    width: 906px;
}

.menu > ul {
    display: flex;
}

.menu li {
    margin-right: 40px;
}

.menu_selected > a {
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    color: #8D69D5;
}

.menu_unselected > a{
    font-size: 16px;
    color: #767676;
}

.lang {
    width: 142px;
    display: flex;
    justify-content: flex-end;
}

.lang > ul {
    display: flex;
}

.lang li {
    margin-left: 40px;
}

.lang_selected > a {
    font-size: 16px;
    font-weight: bold;
    color: #8D69D5;
}

.lang_unselected > a {
    font-size: 16px;
    font-weight: bold;
    color: #767676;
}

/* banner */

.banner {
    background-image: url("./images/banner_bg.png");
    width: 100%;
    height: 800px;
}

.banner_contents {
    display: flex;
    width: 1280px;
    height: 800px;
    margin: auto;
}

.content1,
.content3 {
    margin: auto;
}

.content2 {
    width: 1168px;
    margin: 216px 0px auto 0px;
}

.content2 > div {
    margin-left: 84px;
}

.content2 .title {
    font-size: 82px;
    font-weight: 900;       /*Black*/
    color: #fff;
    margin-bottom: 30px;
}

.content2 .texts {
    font-size: 15px;
    color: #fff;
    margin-bottom: 60px;
}

.content2 .more_btn {
    width: 96px;
    height: 36px;
    font-size: 13px;
    background-color: #8D69D5;
}

.more_btn > div {
    color: #fff;
    padding-top: 11px;
    padding-left: 16px;
}

.banner .circle {
    display: flex;
    width: 100px;
    margin: 174px auto auto auto;
}

.banner .circle > .white_circle {
    border: 1px solid #fff;
    border-radius: 100%;
    width: 8px;
    height: 8px;
}

.banner .circle > .purple_circle {
    background-color: #8D69D5;
    border: 1px solid #8D69D5;
    border-radius: 100%;
    width: 8px;
    height: 8px;
}

.banner .circle > li:not(:last-child) {
    margin-right: 8px;
}

/* main_content1 */

.main_content1 {
    display: flex;
    width: 1280px;
    margin: 100px auto 140px auto;
}

.main_content1 > li {
    width: 400px;
    height: 108px;
}

.main_content1 li {
    margin-top: 100px;
}

.main_content1 .bold_28 {
    margin-bottom: 20px;
}

.main_content1 > li:not(:last-child) {
    margin-right: 40px;
}

/* Experience */

.main_content2 {
    width: 1280px;
    margin: auto;
}

.main_content2 .title {
    margin-bottom: 30px;
}

.main_content2 .text {
    margin-bottom: 30px;
}

.Experience1 {
    display: flex;
    margin-top: 60px;
}

.Experience1 > .image{
    margin: auto 80px auto 215px;
}

.Experience1 > .content,
.Experience2 > .content {
    width: 339px;
    height: 220px;
}

.Experience1 > .line {
    width: 6px;
    background-color: #8D69D5;
    height: 172px;
}

.Experience2,
.Experience3 {
    display: flex;
    margin-top: 160px;
}

.Experience2 .line {
    height: 6px;
    width: 140px;
    background-color: #8D69D5;
    margin-right: 75px;    
}

.Experience2 > .image {
    margin-left: 86px;
}

.Experience3 > .line {
    width: 6px;
    background-color: #8D69D5;
    height: 118px;
    margin-left: 140px;
    margin-right: 60px;
}

.see_all {
    margin-top: 262px;
}

/* Graphic Design 1st*/

.main_content3 > .title_part {
    display: flex;
    width: 1280px;
    margin: 140px auto 0px auto;
}

.main_content3 > .title_part > .bold_40 {
    width: 400px;
}

.main_content3 > .title_part > ul {
    display: flex;
    justify-content: flex-end;
    width: calc(1280px - 400px);
    margin-left: 40px;
    margin-top: 29px;

}

.main_content3 > .title_part li {
    margin-left: 40px;
}

.main_content3 .selected > a {
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
    color: #191919;
}

.main_content3 .unselected > a {
    font-size: 16px;
    color: #767676;
}

.main_content3 > .image_part {
    display: flex;
    margin-top: 55px;
    overflow: hidden;
}

.main_content3 > .image_part > li:not(:last-child) {
    margin-right: 28px;
}

.main_content3 > .circle {
    display: flex;
    width: 100px;
    margin: 40px auto 0px auto;
}

.main_content3 > .circle > li:not(:last-child) {
    margin-right: 8px;
}

.unselected_circle {
    height: 8px;
    width: 8px;
    border: 1px solid #767676;
    border-radius: 100%;
}

.selected_circle {
    height: 8px;
    width: 8px;
    background-color: #191919;
    border: 1px solid #191919;
    border-radius: 100%;
}

/* Graphic Design 2nd */

.main_content4 {
    display: flex;
    width: 1280px;
    margin: 160px auto 0px auto;
}

.main_content4 .text_part {
    margin: 25px 106px 0px 0px;
    width: 600px;
}

.main_content4 > .text_part > .regular_15 {
    margin: 60px auto 70px 0px;
}

.main_content4 > .text_part > ul {
    display: flex;
}

.main_content4 > .text_part li {
    width: 120px;
    margin-right: 30px;
}

/* News & Design */

.main_content5 {
    width: 1280px;
    margin: 160px auto 0px auto;
}

.main_content5 > ul {
    display: flex;
}

.main_content5 li {
    width: 574px;
}

.main_content5 li:not(:last-child) {
    margin-right: 132px;
}

.main_content5 .bold_40 {
    margin-bottom: 40px;
}

.main_content5 .news_content {
    display: flex;
    margin-bottom: 30px;
}

.main_content5 .news_text {
    margin: 16px auto auto 30px;
}

.main_content5 .news_content .bold_22 {
    margin-bottom: 10px;
}

.main_content5 .clients {
    display: flex;
    margin-bottom: 20px;
}

.main_content5 .quotation {
    margin-right: 5px;
}

.main_content5 .line_text > span {
    font-weight: 400;
    color: #767676;
}

.main_content5 .line_text {
    margin: 127px auto 80px 0px;
}

.main_content5 .circle {
    display: flex;
    width: 100px;
    margin: 40px auto 0px 0px;
}

.main_content5 .circle > li:not(:last-child) {
    margin-right: 8px;
}

/* Design Map */

.map_title {
    width: 1280px;
    margin: 160px auto 208px auto;
}

.main_content6 {
    margin: auto;
    z-index: 1;
}

.map_image {
    position: absolute;
    background-image: url("./images/Map.png");
    height: 710px;
    width: 100%;
}

.main_content6 .box {
    position: relative;
    width: 1280px;
    background-color: #191919;
    display: flex;
    height: 336px;
    margin: -168px auto auto auto;
}

.main_content6 .box > li {
    width: 580px;
    margin-left: 60px;
    margin-top: 60px;
}

.main_content6 .box li > div:not(:last-child) {
    margin-bottom: 30px;
}

.main_content6 .box .explain > .bold_22 {
    margin-bottom: 10px;
}

/* footer */

footer {
    height: 270px;
    background-color: #191919;
    margin-top: 918px;
}

footer > ul {
    display: flex;
    width: 1280px;
    margin: auto;
}

footer > ul > .black_40 {
    width: 103px;
    margin: 60px 160px auto 0px;
}

footer > ul > .footer_text {
    margin-top: 60px;
    width: calc(1280px - 353px);
}

footer .footer_text > div {
    margin-bottom: 60px;
}

footer .footer_img {
    width: 250px;
    display: flex;
    justify-content: flex-end;
    margin-top: 114px;
}

footer .footer_img > div {
    margin-left: 30px;
}

